<div class='page-container'>
  <div class='page-header'>
    <div class='page-section'>
      <div class='page-title'>
        <h1><%= @user.full_name %></h1>
      </div>
    </div>
  </div>

  <div>
    <div class='page-section'>
      <div class='page-subtitle'>
        <h2>Home Recommendations</h2>
      </div>

      <%= render partial: "products/products", locals: { products: @user.products } %>
    </div>
  </div>
</div>
